# 自己的.env文件示例模板
# 操作说明：
# 1、把这个文件名改为自己本地的.env
# 2、把标注为（改为自己的）修改成自己的，其余保持不变


# FORK_MODE=false 本地Mock测试
# FORK_MODE=true 在Sepolia测试网测试
FORK_MODE = false

# Sepolia测试网url
SEPOLIA_RPC_URL = https://ethereum-sepolia-rpc.publicnode.com

############# Sepolia 测试用的变量 #######################
SEPOLIA_SELLER1_ADDR = 0xd7d76c58b3a519e9fA6Cc4D22dC017259BC49F1E
SEPOLIA_BIDDER1_ADDR = 0x89BB1332dB257b983aDA216746903Be808938DA1
SEPOLIA_BIDDER2_ADDR = 0x25c4a76E7d118705e7Ea2e9b7d8C59930d8aCD3b

############# tokenId 定义 #######################
# ETH = 0
# USDC = 1
# DAI = 2
##################################################


################ ERC20 代币地址 ###################
# Sepolia 测试网 
USDC_ADDR = 0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238
DAI_ADDR = 0xFF34B3d4Aee8ddCd6F9AFFFB6Fe49bD371b8a357
#DAI_ADDR = 0xd67215fD6c0890493F34aF3C5E4231cE98871fCb

# 以太坊主网


########### chainlink datafeed 地址 ###############
# Sepolia 测试网 
ETH_USD_FEED = 0x694AA1769357215DE4FAC081bf1f309aDC325306
USDC_USD_FEED = 0xA2F78ab2355fe2f984D808B5CeE7FD0A93D5270E
DAI_USD_FEED = 0x14866185B1962B63C3Ea9E03Bc1da838bab34C19


# 以太坊主网 chainlink datafeed 地址

